<div class="container">
  <h1>Your Watchlists </h1>
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= list.name %> -
        <%= link_to list_path(list) do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add new list", new_list_path %>
</div>
